{
  "presets": [
    [
      "@babel/preset-env",
      {
        "bugfixes": true,
        "debug": true,
        "targets": "> 0.2%, not dead, not android > 0"
      }
    ]
  ],
  "sourceType": "script"
}
