@use "colors" as *;

.pinging::before,
.pinging-anger::before {
  content: "";
  display: block;
  animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.pinging::before {
  background: white;
}

.pinging-anger::before {
  background: $color-red-500;
}

@keyframes ping {
  50%,
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
