@use "colors" as *;

html,
.mode_3d #game_play_area_background {
  background: #2383ba;
}

#loader_mask {
  position: fixed;
  height: 100vh;
}

#loader_mask_background {
  display: none;
}

#nbcountdown {
  color: red;
  font-size: 24px;
  left: 5px;
  line-height: 32px;
  position: absolute;
  top: 5px;
}

#nbwrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#nbbuys {
  display: block;
  margin: 10px;
}

.nbuttonwrap {
  display: inline-block;
  vertical-align: top;

  .owner {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.25;
    margin: 0 auto;
    max-width: 6.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.buybutton {
  background-color: $color-neutral-700;
  color: white !important;
  max-width: 6.5em;
  white-space: normal;
  vertical-align: top;
}

.ghostbutton {
  opacity: 0.5;
  cursor: not-allowed;
}

.paybutton {
  background-color: $color-lime-800;
  color: white !important;

  &.ghostbutton {
    cursor: pointer;
  }
}

#nbledger {
  --mask: conic-gradient(from 135deg at top, #0000, #000 1deg 89deg, #0000 90deg) top/16px 51% repeat-x, conic-gradient(from -45deg at bottom, #0000, #000 1deg 89deg, #0000 90deg) bottom/16px 51% repeat-x;
  background-color: $color-neutral-200;
  color: $color-neutral-700;
  font: 14px/1.25 Consolas, monospace;
  margin: 10px;
  mask: var(--mask);
  -webkit-mask: var(--mask);
  text-align: left;

  td {
    padding: 2px 16px;
  }

  .lhead {
    font-weight: bold;
    letter-spacing: 2px;
    padding-top: 16px;
    padding-bottom: 4px;
    text-align: center;
    text-transform: uppercase;
  }

  .lsubtotal {
    border-top: 3px double $color-neutral-600;
    font-weight: bold;
  }

  .lamt {
    text-align: right;
  }

  .lneg {
    color: $color-red-900;
  }
}

.player-board {
  background-color: $color-neutral-600;
  color: white;

  .player-name a {
    color: white !important;
  }

  .player_score_value {
    display: none;
  }

  .fa-star {
    display: none;
  }
}

.bgabutton .icon {
  display: block;
  font-size: 40px;
  margin: auto;
}

.nbtag {
  background-color: $color-neutral-700;
  border-radius: 4px;
  box-shadow: 1px 1px rgb(0 0 0 / 0.5);
  color: white;
  display: inline-block;
  padding: 1px 6px;
  vertical-align: middle;

  &.complaint {
    background-color: $color-red-700;
  }

  &.cash {
    background-color: $color-lime-800;
    margin: 0 2px;
  }
}

.log .nbtag {
  font-size: 16px;
  font-weight: bold;
}

.nbtag .icon {
  vertical-align: -2px;
}

.nblabel {
  font-size: 13px;
  text-align: center;
}

#nbcommon {
  margin-top: 0;
}

#nbrange {
  width: 100%;
  margin: 4px 0;
}

.gauges {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  gap: 5px;
  justify-content: space-evenly;
  margin: 5px 0;

  .icon {
    font-size: 22px;
    vertical-align: -5px;
  }
}
