@use "colors" as *;

html {
  background: #2383ba;
}

#loader_mask {
  position: fixed;
  height: 100vh;
}

#loader_mask_background {
  display: none;
}

#nbbuys {
  display: block;
  margin: 10px;
}

.buybutton {
  background-color: $color-neutral-700;
  color: white !important;
  max-width: 6.5em;
  white-space: normal;
}

.ghostbutton {
  cursor: not-allowed;
  opacity: 0.5;
}

.player-board {
  background-color: $color-neutral-600;
  color: white;
}

.player-board .player-name a {
  color: white !important;
}

.bgabutton .icon {
  display: block;
  font-size: 40px;
  margin: auto;
}

.nbtag {
  background-color: $color-neutral-700;
  border-radius: 4px;
  box-shadow: 1px 1px rgb(0 0 0 / 0.5);
  color: white;
  display: inline-block;
  padding: 1px 6px;
  vertical-align: middle;
}

.nbtag.complaint {
  background-color: $color-red-700;
}

.log .nbtag {
  font-size: 16px;
  font-weight: bold;
}

.nbtag .icon {
  vertical-align: -2px;
}

#nbcommon {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-evenly;

  .section {
    text-align: center;
  }

  .lbl {
    font-size: 12px;
  }

  .nbtag {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .icon {
    font-size: 24px;
    vertical-align: -6px;
  }
}

#nbrange {
  width: 100%;
  margin: 4px 0;
}

.gauges {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  gap: 5px;
  margin: 5px 0;
}
