@use "colors" as *;
@use "sass:color";

#nbscale {
  --map-width: 875px;
  min-width: 900px;
}

#nbmap {
  background-repeat: no-repeat;
  background-size: contain;
  height: calc(var(--map-width) * 0.5);
  margin: 0 25px 0 0;
  position: relative;
}

.node {
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  transform: translate(-50%, -50%);
}

.port.node,
.move.node,
.specialtag,
.weather.node {
  border-radius: 100%;
  box-shadow: 3px 4px 0px rgb(0 0 0 / 0.25);
}

.hop.node {
  height: 3%;
  width: 1.5%;
}

.port.node {
  align-items: center;
  background-image: linear-gradient(180deg, $color-neutral-300, $color-neutral-50);
  color: $color-neutral-500;
  display: flex;
  font-size: calc(var(--map-width) * 0.015);
  font-weight: bold;
  height: 7%;
  justify-content: center;
  text-align: center;
  width: 3.5%;
  z-index: 1;

  .leadline {
    border-right: 3px dotted rgba(255, 255, 255, 0.5);
    border-top: 3px dotted rgba(255, 255, 255, 0.5);
    position: absolute;
    transition: border-color 200ms linear;

    body.no-animation & {
      transition: none !important;
    }

    &.curved {
      border-top-right-radius: 8px;
    }

    &.left {
      border-left: 3px dotted rgba(255, 255, 255, 0.5);
      border-right: none;
      border-top-left-radius: 8px;
      border-top-right-radius: 0;
    }
  }

  &.is-anger {
    color: $color-red-800;

    .leadline {
      border-color: color.change($color-red-800, $alpha: 0.5);
    }
  }

  &.is-active {
    z-index: 9;

    .leadline {
      border-color: white;
    }
  }
}

.spotlight.node {
  border-radius: 50%;
  border: 9999px solid rgb(0 0 0 / 40%);
  height: 14%;
  opacity: 0;
  transition: opacity 200ms linear;
  width: 7%;
  z-index: 30;

  body.no-animation & {
    transition: none !important;
  }
}

.move.node {
  cursor: pointer;
  font-size: calc(var(--map-width) * 0.02);
  font-weight: bold;
  height: 5%;
  line-height: calc(var(--map-width) * 0.025);
  text-align: center;
  width: 2.5%;
  z-index: 10;
}

.specialtag {
  bottom: 0;
  font-size: calc(var(--map-width) * 0.0125);
  position: absolute;
  right: -10%;

  .icon {
    height: 1em !important;
    width: 1em !important;
  }
}

.plane.node {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(var(--map-width) * 0.0175);
  font-weight: bold;
  height: 10%;
  justify-content: center;
  transition: all 1s ease-out;
  width: 5%;
  z-index: 5;

  body.no-animation & {
    transition: none !important;
  }

  &.mine {
    z-index: 6;
  }

  .icon {
    filter: drop-shadow(4px 4px 0px rgb(0 0 0 / 0.25)) drop-shadow(0px 0px 2px black);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
    transition: transform 500ms ease-out;

    body.no-animation & {
      transition: none !important;
    }
  }

  .planespeed {
    z-index: 5;
  }

  .planespeed-ATL {
    color: $color-green-200;
  }

  .planespeed-DFW {
    color: $color-purple-200;
  }

  .planespeed-LAX {
    color: $color-amber-100;
  }

  .planespeed-ORD {
    color: $color-red-200;
  }

  .planespeed-SEA {
    color: $color-blue-200;
  }
}

.weather.node {
  align-items: center;
  background-image: linear-gradient(180deg, #1a237e, #01579b);
  display: flex;
  height: 6%;
  justify-content: center;
  transition: opacity 1s linear;
  width: 3%;
  z-index: 1;

  body.no-animation & {
    transition: none !important;
  }

  .icon {
    height: 85%;
    width: 85%;
  }

  &.hidespecial .specialtag {
    display: none;
  }

  .log-flex-wrapper & {
    align-self: center;
    flex: 0 0 auto;
    height: 3em;
    margin-right: 10px;
    position: relative;
    transform: none;
    width: 3em;
  }
}
