.map23 {
  background-image: url(img/map23.png);

  .node-ATL {
    left: 67.1%;
    top: 60.6%;
  }

  .node-ATLDEN1 {
    left: 60.3%;
    top: 53.2%;
  }

  .node-ATLDEN2 {
    left: 52.9%;
    top: 45.8%;
  }

  .node-ATLDEN3 {
    left: 44.6%;
    top: 37.8%;
  }

  .node-ATLDFW1 {
    left: 60.8%;
    top: 60.6%;
  }

  .node-ATLDFW2 {
    left: 53.9%;
    top: 60.6%;
  }

  .node-ATLJFK1 {
    left: 74.2%;
    top: 57.6%;
  }

  .node-ATLJFK2 {
    left: 80.8%;
    top: 49.9%;
  }

  .node-ATLMIA1 {
    left: 69.4%;
    top: 72.4%;
  }

  .node-ATLORD1 {
    left: 68.7%;
    top: 47.9%;
  }

  .node-ATLORD2 {
    left: 67.7%;
    top: 36.3%;
  }

  .node-DEN {
    left: 37.2%;
    top: 30.7%;
  }

  .node-DENDFW1 {
    left: 40.6%;
    top: 39.8%;
  }

  .node-DENDFW2 {
    left: 44.3%;
    top: 49.8%;
  }

  .node-DENLAX1 {
    left: 29.7%;
    top: 36.1%;
  }

  .node-DENLAX2 {
    left: 22.7%;
    top: 41.2%;
  }

  .node-DENORD1 {
    left: 43.1%;
    top: 29.1%;
  }

  .node-DENORD2 {
    left: 53.6%;
    top: 27.7%;
  }

  .node-DENSFO1 {
    left: 27.7%;
    top: 30.7%;
  }

  .node-DENSFO2 {
    left: 18.2%;
    top: 30.7%;
  }

  .node-DFW {
    left: 48.5%;
    top: 60.3%;
  }

  .node-DFWLAX1 {
    left: 40.8%;
    top: 56.8%;
  }

  .node-DFWLAX2 {
    left: 32.2%;
    top: 53.2%;
  }

  .node-DFWLAX3 {
    left: 23.9%;
    top: 49.9%;
  }

  .node-DFWMIA1 {
    left: 56%;
    top: 69.4%;
  }

  .node-DFWMIA2 {
    left: 64%;
    top: 78.3%;
  }

  .node-JFK {
    left: 85.2%;
    top: 38.5%;
  }

  .node-JFKORD1 {
    left: 78.6%;
    top: 34.7%;
  }

  .node-JFKORD2 {
    left: 71.5%;
    top: 30.9%;
  }

  .node-LAX {
    left: 16.4%;
    top: 47.8%;
  }

  .node-LAXMIA1 {
    left: 26.2%;
    top: 59.6%;
  }

  .node-LAXMIA2 {
    left: 35.9%;
    top: 69.3%;
  }

  .node-LAXMIA3 {
    left: 47%;
    top: 78.4%;
  }

  .node-LAXMIA4 {
    left: 58.9%;
    top: 83.8%;
  }

  .node-LAXSFO1 {
    left: 13.1%;
    top: 39.3%;
  }

  .node-MIA {
    left: 72.7%;
    top: 87.5%;
  }

  .node-ORD {
    left: 64%;
    top: 28.3%;
  }

  .node-ORDSFO1 {
    left: 49.5%;
    top: 19.1%;
  }

  .node-ORDSFO2 {
    left: 34.6%;
    top: 16%;
  }

  .node-ORDSFO3 {
    left: 22.6%;
    top: 19.5%;
  }

  .node-SFO {
    left: 10.7%;
    top: 30.3%;
  }
}
