@use "colors" as *;

.manifest {
  display: flex;
  flex-direction: column;
  font-family: Consolas, monospace;
  position: relative;
  text-transform: uppercase;
}

.manifest .location {
  color: rgb(255 255 255 / 0.5);
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
}

.paxlist {
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  min-height: 41px;
  min-width: 215px;
  padding: 5px;
}

.map .paxlist {
  background: rgb(255 255 255 / 0.25);
  max-height: 240px;
  outline: 5px dashed rgb(255 255 255 / 0.5);
  overflow: hidden auto;
}

.pax {
  border-color: $color-neutral-700;
  color: $color-neutral-700;
  cursor: pointer;
  display: grid;
  filter: drop-shadow(0 0 1px white);
  font-size: 13px;
  gap: 0px 0px;
  grid-template:
    "anger vip" auto
    "anger ticket" 1fr / auto 1fr;
  line-height: 1;
  width: 215px;
}

.pax .anger {
  background: $color-neutral-700;
  border-color: inherit;
  border-style: solid;
  border-width: 2px;
  color: white;
  grid-area: anger;
  position: relative;
  text-align: center;
  width: 32px;
}

.pax .anger.anger-1,
.nbtag.anger-1 {
  background-color: $color-lime-600;
}

.pax .anger.anger-2,
.nbtag.anger-2 {
  background-color: $color-amber-500;
}

.pax .anger.anger-3,
.nbtag.anger-3 {
  background-color: $color-red-500;
}

// .pax .anger.anger-3 .ping {
//   animation: ping 4s cubic-bezier(0, 0, 0.2, 1) infinite;
//   background-color: inherit;
//   height: 100%;
//   position: absolute;
//   width: 100%;
//   z-index: -1;
// }

.pax .anger .icon {
  filter: drop-shadow(1px 1px 1px black);
  font-size: 24px;
}

.pax .ticket {
  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 60.1 14.2'%3E%3Cpath d='M0 0v14.2h1V0zm3.7 0v14.2h2.1V0zm4.8 0v14.2h1.2V0zm2 0v14.2h1V0zm3.7 0v14.2h3V0zM18 0v14.2H20V0zm2.9 0v14.2h3V0zm3.8 0v14.2h1V0zm3.8 0v6.6l-.1 7.6h2.2V0zm2.9 0v14.2h1V0zm3.7 0v14.2h2.1V0zm3 0v14.2h1V0zm3.7 0v14.2h2.1V0zm4.8 0v14.2h1.2V0zm2 0v14.2h3V0zm3.8 0v14.2h2V0zM55 0v14.2h3.1V0zM59 0v14.2H60V0z' opacity='.1'/%3E%3C/svg%3E");
  border-color: inherit;
  border-style: solid;
  border-width: 2px 2px 2px 0;
  grid-area: ticket;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.pax .destination {
  font-weight: bold;
  font-size: 24px;
  text-shadow: 1px 1px white;
  vertical-align: sub;
}

.pax .cash {
  background: $color-neutral-700;
  color: white;
  float: right;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 32px;
}

.pax .vip {
  background: linear-gradient(45deg, $color-neutral-700 80%, transparent 80%);
  color: $color-amber-400;
  font-weight: bold;
  grid-area: vip;
  height: 13px;
  padding-left: 4px;
}

.pax.is-secret {
  color: white;

  .cash {
    display: none;
  }

  .ticket {
    background-color: $color-neutral-700;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 60.1 14.2'%3E%3Cpath d='M0 0v14.2h1V0zm3.7 0v14.2h2.1V0zm4.8 0v14.2h1.2V0zm2 0v14.2h1V0zm3.7 0v14.2h3V0zM18 0v14.2H20V0zm2.9 0v14.2h3V0zm3.8 0v14.2h1V0zm3.8 0v6.6l-.1 7.6h2.2V0zm2.9 0v14.2h1V0zm3.7 0v14.2h2.1V0zm3 0v14.2h1V0zm3.7 0v14.2h2.1V0zm4.8 0v14.2h1.2V0zm2 0v14.2h3V0zm3.8 0v14.2h2V0zM55 0v14.2h3.1V0zM59 0v14.2H60V0z'/%3E%3C/svg%3E");
  }

  .destination {
    display: none;
  }
}

.emptyseat {
  background: rgb(255 255 255 / 0.25);
  border-radius: 4px;
  border: 5px dashed rgb(255 255 255 / 0.5);
  order: 99;
  text-align: center;
  width: 210px;

  .icon {
    font-size: 32px;
  }
}
