@use "colors" as *;
@use "sass:color";

.manifests {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .paxlist {
    background: rgb(255 255 255 / 0.25);
    max-height: 195px;
    outline: 4px dashed rgb(255 255 255 / 0.5);
    overflow: hidden auto;
    transition: outline 200ms linear;
  }
}

#manifests-top {
  margin-top: 20px;
}

#manifests-right {
  bottom: 0;
  flex-direction: column;
  align-items: center;
  left: 80%;
  position: absolute;
  right: -25px;
  top: 43%;
}

#manifests-bottom {
  margin-top: -35px;
  margin-bottom: 20px;
}

#manifest-SEA {
  order: 10;
}
#manifest-SFO {
  order: 11;
}
#manifest-DEN {
  order: 20;
}
#manifest-ORD {
  order: 30;
}
#manifest-JFK {
  order: 40;
}
#manifest-LAX {
  order: 20;
}
#manifest-DFW {
  order: 30;
}
#manifest-ATL {
  order: 31;
}
#manifest-MIA {
  order: 40;
}

.manifest {
  display: flex;
  flex-direction: column;
  position: relative;
}

.manifest .location {
  color: rgb(255 255 255 / 0.5);
  font: bold 20px/1.5 Consolas, monospace;
  text-align: center;
  transition: color 200ms linear;
}

.paxlist {
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 41px;
  min-width: 215px;
  padding: 5px;
}

.manifest.is-anger {
  .paxlist {
    outline-color: $color-red-800;
  }
}

.manifest.is-active {
  .location {
    color: white;
  }
  .paxlist {
    outline-color: white;
  }
}

#manifests-top {
  .manifest {
    flex-direction: column-reverse;
  }

  .paxlist {
    flex-direction: column-reverse;
  }
}

.pax {
  border-color: $color-neutral-700;
  color: $color-neutral-700;
  cursor: pointer;
  display: grid;
  filter: drop-shadow(0 0 1px white);
  font: 13px/1 Consolas, monospace;
  gap: 0px 0px;
  grid-template:
    "anger vip" auto
    "anger ticket" 1fr / auto 1fr;
  text-transform: uppercase;
  transition: transform 1s ease-out;
  width: 215px;
  z-index: 20;
}

.pax .anger {
  background: $color-neutral-700;
  border-color: inherit;
  border-style: solid;
  border-width: 2px;
  color: white;
  grid-area: anger;
  position: relative;
  text-align: center;
  width: 32px;
}

.pax .anger.anger-1,
.nbtag.anger-1 {
  background-color: $color-lime-600;
}

.pax .anger.anger-2,
.nbtag.anger-2 {
  background-color: $color-amber-500;
}

.pax .anger.anger-3,
.nbtag.anger-3 {
  background-color: $color-red-500;
}

.pax .anger .icon {
  filter: drop-shadow(1px 1px 1px black);
  font-size: 24px;
}

.pax .ticket {
  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 60.1 14.2'%3E%3Cpath d='M0 0v14.2h1V0zm3.7 0v14.2h2.1V0zm4.8 0v14.2h1.2V0zm2 0v14.2h1V0zm3.7 0v14.2h3V0zM18 0v14.2H20V0zm2.9 0v14.2h3V0zm3.8 0v14.2h1V0zm3.8 0v6.6l-.1 7.6h2.2V0zm2.9 0v14.2h1V0zm3.7 0v14.2h2.1V0zm3 0v14.2h1V0zm3.7 0v14.2h2.1V0zm4.8 0v14.2h1.2V0zm2 0v14.2h3V0zm3.8 0v14.2h2V0zM55 0v14.2h3.1V0zM59 0v14.2H60V0z' opacity='.1'/%3E%3C/svg%3E");
  border-color: inherit;
  border-style: solid;
  border-width: 2px 2px 2px 0;
  grid-area: ticket;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.pax .destination {
  font-weight: bold;
  font-size: 24px;
  text-shadow: 1px 1px white;
  vertical-align: sub;
}

.pax .cash {
  background: $color-neutral-700;
  color: white;
  float: right;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 32px;
}

.pax .vip {
  background: linear-gradient(45deg, $color-neutral-700 85%, transparent 85%);
  color: $color-fuchsia-300;
  font-weight: bold;
  grid-area: vip;
  height: 13px;

  .icon {
    margin: 0 3px;
  }
}

.pax.is-secret {
  color: white;

  .cash {
    display: none;
  }

  .ticket {
    background-color: $color-neutral-700;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 60.1 14.2'%3E%3Cpath d='M0 0v14.2h1V0zm3.7 0v14.2h2.1V0zm4.8 0v14.2h1.2V0zm2 0v14.2h1V0zm3.7 0v14.2h3V0zM18 0v14.2H20V0zm2.9 0v14.2h3V0zm3.8 0v14.2h1V0zm3.8 0v6.6l-.1 7.6h2.2V0zm2.9 0v14.2h1V0zm3.7 0v14.2h2.1V0zm3 0v14.2h1V0zm3.7 0v14.2h2.1V0zm4.8 0v14.2h1.2V0zm2 0v14.2h3V0zm3.8 0v14.2h2V0zM55 0v14.2h3.1V0zM59 0v14.2H60V0z'/%3E%3C/svg%3E");
  }

  .destination {
    display: none;
  }
}

.pax.is-vip {
  .ticket {
    background-color: $color-fuchsia-700;
    color: white;
  }

  .destination {
    text-shadow: 1px 1px black;
  }
}

.emptyseat {
  background: rgb(255 255 255 / 0.25);
  border-radius: 4px;
  border: 4px dashed rgb(255 255 255 / 0.5);
  font: 13px/1 Consolas, monospace;
  order: 600;
  text-align: center;
  text-transform: uppercase;
  width: 210px;

  .icon {
    font-size: 32px;
  }

  &.temp {
    order: 601;
  }
}
